<tr>
  <td><%= orientation.academic.name %></td>
  <td><%= orientation.academic.ra %></td>
  <td><%= orientation.short_title %></td>
  <td><%= orientation.advisor.name %></td>
  <td><%= orientation.calendar.year_with_semester_and_tcc %></td>
  <td>
    <%= link_to(professors_supervision_path(orientation)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="Show"></i>
    <% end %>
    <%= link_to(edit_professors_supervision_path(orientation)) do %>
      <i class="fe fe-edit" data-toggle="tooltip" title="Editar"></i>
    <% end %>
  </td>
</tr>
