<% provide(:page_title, @title) %>
<% provide(:head_title, @title) %>

<div class="row">
  <div class="col-sm-12 col-lg-8 mb-2">
    <%= render 'shared/orientations/search', url: @search_url, search_term: params[:term] %>
  </div>
  <div class="col-sm-12 col-lg-4">
    <%= link_to(new_professors_orientation_path, class: 'btn btn-outline-primary d-block') do %>
      <i class="fe fe-plus"></i>
      <%= t('breadcrumbs.orientations.new') %>
    <% end %>
  </div>
</div>

<%= render('supervisor_tabs') %>

<% cache(@orientations) do %>
  <%= render Orientations::TableComponent.new(
    orientations: @orientations,
    namespace: :professors,
    path_helper: :professors_supervision_path,
    service_class: 'Orientations::Links::SupervisionService'
  ) %>
<% end %>
