<%= provide(:appointment_files) do %>
   <div class="card">
      <div class="card-header font-weight-bold">
         <%= ExaminationBoardNote.human_attribute_name('appointments') %>:
      </div>

      <div class="card-body">
         <% @examination_board.examination_board_notes_by_others(current_external_member.id).each do |examination_board_note| %>
            <p>
               <strong><%= ExaminationBoardNote.human_attribute_name('evaluator') %>:</strong>
               <%= examination_board_note.evaluator.name_with_scholarity %>
            </p>
            <p>
               <strong>
                  <%= ExaminationBoardNote.human_attribute_name('note_status') %>
               </strong>
               <span><%= examination_board_note.note.present? ? ExaminationBoardNote.human_attribute_name('note_sent') : ExaminationBoardNote.human_attribute_name('note_null')%></span>
            </p>
            <p>
               <strong>
                  <%= ExaminationBoardNote.human_attribute_name('appointment_file') %>
               </strong>
               <% if examination_board_note.appointment_file.present? %>
                  <%= link_to(examination_board_note.appointment_file.url, target: :_blank) do %>
                     <%= examination_board_note.appointment_file_identifier %>
                  <% end %>
               <% else %>
                  <span><%=ExaminationBoardNote.human_attribute_name('appointment_file_null')%></span>
               <% end %>
            </p>
            
            <p>
               <strong>
                  <%= ExaminationBoardNote.human_attribute_name('appointment_text') %>
               </strong>
               <% if examination_board_note.appointment_text.present? %>
                  <div class="form-fieldset w-80 mx-auto text-left">
                     <markdown-reader content="<%= examination_board_note.appointment_text %>" />
                  </div>
               <% else %>
                  <span><%=ExaminationBoardNote.human_attribute_name('appointment_text_null')%></span>
               <% end %>
            </p>
            
         <% end %>
         <% @examination_board.members_that_not_sent_appointments(current_external_member.id).each do |member| %>
            <p>
               <strong><%= ExaminationBoardNote.human_attribute_name('evaluator') %>:</strong>
               <%= member.name_with_scholarity %>
            </p>
            <p>
               <%= ExaminationBoardNote.human_attribute_name('appointments_null') %>
            </p>
         <% end %>
      </div>
   </div>
<% end %>
