<% provide(:page_title, t('breadcrumbs.meetings.show')) %>
<% provide(:head_title, t('breadcrumbs.meetings.show')) %>

<div class="card">
  <div class="card-body">
    <p>
      <strong>
        <%= Meeting.human_attribute_name('title') %>:
      </strong>
      <%= @meeting.title %>
    </p>
    <p>
      <strong>
        <%= Meeting.human_attribute_name('content') %>:
      </strong>
      <div class="form-fieldset w-50 text-left">
        <vue-markdown-preview><%= @meeting.content %></vue-markdown-preview>
      </div>
    </p>
    <p>
      <strong>
        <%= Meeting.human_attribute_name('created_at') %>:
      </strong>
      <%= complete_date(@meeting.created_at) %>
    </p>
    <p>
      <strong>
        <%= Meeting.human_attribute_name('updated_at') %>:
      </strong>
      <%= complete_date(@meeting.updated_at) %>
    </p>
  </div>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'),
    academics_meetings_path,
    class: 'btn btn-secondary' %>
</div>

