<%= simple_form_for [:responsible, @image], html: { multipart: true } do |f| %>
  <div class="row form-inputs">
    <div class="col-md-6">
      <%= f.input :name %>
    </div>
    <div class="col-md-6">
      <%= render Forms::ImagePreviewComponent.new(
        resource: 'image',
        name: 'url',
        image_url: @image.url.url,
        image_errors: @image.errors[:url],
        form: f
      ) %>
      <%= f.hidden_field :url_cache %>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      responsible_images_path,
      class: 'btn btn-secondary' %>

    <%= f.button :submit, t('views.buttons.save'), class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
