<%= simple_form_for [:responsible, @image], html: { multipart: true } do |f| %>
  <div class="row form-inputs">
    <div class="col-md-6">
      <%= f.input :name %>
    </div>
    <div class="col-md-6">
      <image-preview
        resource="image"
        name="url"
        :image-url="<%= @image.url.url.to_json %>"
        :image-errors="<%= @image.errors[:url] %>">
      </image-preview>
      <%= f.hidden_field :url_cache %>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      responsible_images_path,
      class: 'btn btn-secondary' %>

    <%= f.button :submit, t('views.buttons.save'), class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
