<%= simple_form_for [:responsible, @image], html: { multipart: true } do |f| %>
  <div class="row form-inputs">
    <div class="col-md-6">
      <%= f.input :name %>
    </div>
    <div class="col-md-6">
      <strong>
        <%= f.label "Imagem" %> *
      </strong><br>
      <%= f.file_field :url %>
      <%= f.hidden_field :url_cache %>
      <br>
      <div class="my-2">
        <%= image_tag(@image.url.url) if @image.url? %>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      responsible_images_path,
      class: 'btn btn-secondary' %>

    <%= f.button :submit, t('views.buttons.save'), class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
