<div class="col-sm-6 col-lg-4">
  <div class="card p-3">
    <%= link_to(image.url.url) do %>
      <img src="<%= image.url %>" alt="<%= image.name %>" class="site-images rounded img-fluid">
    <% end %>
    <div class="d-flex align-items-center px-2">
      <div>
        <div><%= image.name %></div>
      </div>
      <div class="ml-auto text-muted mt-3">
        <copy-to-clipboard value="<%= image.url %>"></copy-to-clipboard>
        <%= link_to(edit_responsible_image_path(image)) do %>
          <i class="fe fe-edit" data-toggle="tooltip" title="Editar"></i>
        <% end %>
        <%= link_to responsible_image_path(image),
          method: :delete,
          data: { confirm: t('prompt.confirm') },
          class: 'destroy' do %>
          <i class="fe fe-trash" data-toggle="tooltip" title="Deletar"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

