<div class="card">
  <div class="card-header">
    <strong class="mr-1">
      <%= t("views.title.activities.send_document.#{@orientation.academic.gender}") %>:
    </strong>
    <%= @orientation.academic.name %>
  </div>
  <div class="card-body">
    <p>
      <strong>
        <%= AcademicActivity.human_attribute_name('title') %>:
      </strong>
      <%= @academic_activity.title %>
    </p>
    <p>
      <strong>
        <%= AcademicActivity.human_attribute_name('summary') %>:
      </strong>
      <%= @academic_activity.summary %>
    </p>
    <p>
      <strong>
        <%= AcademicActivity.human_attribute_name('pdf') %>:
      </strong>
      <%= link_to(@academic_activity.pdf.url, target: :_blank) do %>
        <%= @academic_activity.pdf_identifier %>
      <% end %>
    </p>
    <p>
      <strong>
        <%= AcademicActivity.human_attribute_name('complementary_files') %>:
      </strong>
      <%= link_to(@academic_activity.complementary_files.url, target: :_blank) do %>
        <%= @academic_activity.complementary_files_identifier %>
      <% end %>
    </p>
    <div>
      <%= yield(:advisor_component) %>
    </div>
  </div>
</div>
