<% provide(:head_title, t("breadcrumbs.tcc.#{@calendar.tcc}.show")) %>
<% provide :page_title do %>
  <%= t("breadcrumbs.tcc.#{@calendar.tcc}.show") %>
  <%= @calendar.year_with_semester %>
  <p class="h6">Acadêmico: <%= @orientation.academic.name %></p>
<% end %>

<div class="card">
  <div class="card-body">
    <p>
      <strong>
        <%= Activity.human_attribute_name('name') %>:
      </strong>
      <%= @activity.name %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('tcc') %>:
      </strong>
      <%= t("enums.tcc.#{@activity.tcc}") %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('judgment') %>:
      </strong>
      <%= t("helpers.boolean.#{@activity.judgment}") %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('base_activity_type') %>:
      </strong>
      <%= @activity.base_activity_type.name %>
    </p>
    <% if @activity.identifier.present? %>
      <p>
        <strong>
          <%= Activity.human_attribute_name('identifier') %>:
        </strong>
        <%= t("enums.activity.identifiers.#{@activity.identifier}") %>
      </p>
    <% end %>
    <p>
      <strong>
        <%= Activity.human_attribute_name('final_version') %>:
      </strong>
      <%= t("helpers.boolean.#{@activity.final_version}") %>
    </p>
    <% if @academic_activity.present? %>
      <p>
        <strong>
          <%= Activity.human_attribute_name('advisor_judgment') %>:
        </strong>
        <%= t("helpers.boolean.#{@academic_activity.judgment}") %>
      </p>
      <p>
        <strong>
          <%= Activity.human_attribute_name('sent') %>:
        </strong>
        <%= t("helpers.boolean.true") %>
      </p>
    <% end %>
    <p>
      <strong>
        <%= Activity.human_attribute_name('deadline') %>:
      </strong>
      <%= @activity.deadline %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('created_at') %>:
      </strong>
      <%= complete_date(@activity.created_at) %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('updated_at') %>:
      </strong>
      <%= complete_date(@activity.updated_at) %>
    </p>
  </div>
</div>

<% if @academic_activity.present? %>
  <%= render 'shared/orientation_activities/document_card' %>
<% end %>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'), back_link, class: 'btn btn-secondary' %>
</div>

