<td><%= activity.name %></td>
<td><%= activity.base_activity_type.name %></td>
<td><%= t("enums.tcc.#{activity.tcc}") %></td>
<td><%= activity.deadline %></td>
<% if activity.academic_activity(@orientation).present? %>
  <td>
    <%= t("helpers.boolean.#{activity.academic_activity(@orientation).judgment}") %>
  </td>
  <td>
    <%= t("helpers.boolean.true") %>
  </td>
<% elsif activity.base_activity_type.info? %>
  <td>-</td>
  <td>-</td>
<% else %>
  <td>
    <%= t("helpers.boolean.false") %>
  </td>
  <td>
    <%= t("helpers.boolean.false") %>
  </td>
<% end %>


