<td><%= activity.name %></td>
<td><%= activity.base_activity_type.name %></td>
<td><%= t("enums.tcc.#{activity.tcc}") %></td>
<td><%= activity.deadline %></td>
<td>
  <% if activity.academic_activity(@orientation).present? %>
    <%= t("helpers.boolean.#{activity.academic_activity(@orientation).judgment}") %>
  <% end %>
</td>

