<tr>
  <td><%= activity.name %></td>
  <td><%= activity.activity_type.name %></td>
  <td><%= l(activity.created_at, format: :short) %></td>
  <td>
    <%= link_to(responsible_activity_path(activity)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="Show"></i>
    <% end %>
    <%= link_to(edit_responsible_activity_path(activity)) do %>
      <i class="fe fe-edit" data-toggle="tooltip" title="Editar"></i>
    <% end %>
    <%= link_to responsible_activity_path(activity),
      method: :delete,
      data: { confirm: t('prompt.confirm') },
      class: 'destroy' do %>
      <i class="fe fe-trash" data-toggle="tooltip" title="Delete"></i>
    <% end %>
  </td>
</tr>
