<tr>
  <td><%= activity.name %></td>
  <td><%= activity.base_activity_type.name %></td>
  <td><%= t("enums.tcc.#{activity.tcc}") %></td>
  <td><%= activity.deadline %></td>
  <td>
    <%= link_to(responsible_calendar_activity_path(@calendar, activity)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="Visualizar"></i>
    <% end %>
    <%= link_to(edit_responsible_calendar_activity_path(@calendar, activity)) do %>
      <i class="fe fe-edit" data-toggle="tooltip" title="Editar"></i>
    <% end %>
    <%= link_to responsible_calendar_activity_path(@calendar, activity),
      method: :delete,
      data: { confirm: t('prompt.confirm') },
      class: 'destroy' do %>
      <i class="fe fe-trash" data-toggle="tooltip" title="Deletar"></i>
    <% end %>
  </td>
</tr>
