<tr>
  <td><%= link_to activity.name, responsible_calendar_activity_path(@calendar, activity) %></td>
  <td><%= activity.base_activity_type.name %></td>
  <td><%= t("enums.tcc.#{activity.tcc}") %></td>
  <td><%= activity.deadline %></td>
  <td>
    <%= render 'shared/links',
      resource_link: responsible_calendar_activity_path(@calendar, activity),
      edit_link: edit_responsible_calendar_activity_path(@calendar, activity) %>
  </td>
</tr>
