<%= simple_form_for(@activity, url: yield(:path)) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>

      <div class="col-md-6">
        <%= f.association :base_activity_type,
          input_html: { data: 'selectize' },
          prompt: t('prompt.select.m', name: 'tipo') %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <datetimepicker
          name="activity[initial_date]"
          id="activity_initial_date"
          label="<%= Activity.human_attribute_name('initial_date') %>"
          datetime="<%= @activity.initial_date %>" />
      </div>

      <div class="col-sm-6">
        <datetimepicker
          name="activity[final_date]"
          id="activity_final_date"
          label="<%= Activity.human_attribute_name('final_date') %>"
          datetime="<%= @activity.final_date %>" />
      </div>
    </div>

    <% if @calendar.tcc == 'one' %>
      <%= f.input :identifier,
        as: :radio_button_tabler,
        collection: Activity.human_tcc_one_identifiers %>
    <% else %>
      <%= f.input :identifier, as: :hidden, input_html: { value: :monograph } %>
    <% end %>

    <%= f.input :judgment, as: :checkbox_tabler %>
    <%= f.input :final_version, as: :checkbox_tabler %>

    <%= f.input :tcc,
      as: :hidden,
      input_html: { value: @calendar.tcc } %>
</div>

          <div class="d-flex">
            <%= link_to t('simple_form.buttons.back'),
    responsible_calendar_activities_path(@calendar),
    class: 'btn btn-secondary' %>

            <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
          </div>
        <% end %>
