<%= simple_form_for(@activity, url: yield(:path)) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :base_activity_type,
      prompt: t('prompt.select.m', name: 'tipo') %>

    <%= f.input :tcc,
                as: :hidden,
                input_html: { value: tcc } %>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      back_url,
      class: 'btn btn-secondary' %>

    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
