<% provide(:page_title, @title) %>
<% provide(:head_title, @title) %>

<div class="row">
  <div class="col-8">
    <h2 class="page-title">
      Calendário (2019/1)
    </h2>
  </div>
  <div class="col-4 mb-5">
    <%= link_to(new_responsible_calendar_activity_path(@calendar_id), class: 'btn btn-outline-primary d-block') do %>
      <i class="fe fe-plus"></i>
      <%= t('breadcrumbs.activities.new') %>
    <% end %>
  </div>
</div>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap">
    <thead>
      <tr>
        <th><%= Activity.human_attribute_name('name') %></th>
        <th><%= Activity.human_attribute_name('base_activity_type') %></th>
        <th><%= Activity.human_attribute_name('tcc') %></th>
        <th><%= Activity.human_attribute_name('created_at') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @activities.empty? %>
      </tr>
      <%= render @activities %>
    </tbody>
  </table>
</div>
