<span class="sidebar-heading pl-0 pt-2 pb-2">
  <i class="fas fa-users mr-2"></i>
  <%= t('views.sidebar.supervisor') %>
</span>

<%= active_link_to(external_members_supervisions_tcc_one_path,
		   active: external_members_supervisions_active_link?,
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2">
    <i class="far fa-file-code"></i>
  </span>
  <%= t('breadcrumbs.supervisions.calendar', calendar: current_calendar_title) %>
<% end %>

<%= active_link_to(external_members_supervisions_history_path,
		   active: external_members_supervisions_history_active_link?,
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2">
    <i class="far fa-folder"></i>
  </span>
  <%= t('breadcrumbs.history') %>
<% end %>


