<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse" aria-expanded="true">
        <span class="header-toggler-icon"></span>
      </a>

      <%= link_to academics_root_path, class: 'header-brand ml-5' do %>
        <% image_tag 'tsi.png', class: 'header-brand-img', alt: 'logo-tsi'  %>
      <% end  %>

      <div class="d-flex order-lg-2 ml-auto">
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url('<%= current_academic.profile_image %>')"></span>

            <span class="ml-2 d-none d-lg-block">
              <span class="text-default"><%= current_academic.name %></span>
              <small class="text-muted d-block mt-1">Acadêmico</small>
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <%= link_to edit_academic_registration_path, class: 'dropdown-item' do %>
              <i class="dropdown-icon fe fe-user"></i> <%= t('sessions.profile') %>
            <% end %>
            <%= link_to destroy_academic_session_path, method: :delete, class: 'dropdown-item' do %>
              <i class="dropdown-icon fe fe-log-out"></i> <%= t('sessions.sign_out') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
