<div class="sidebar-menu">
  <span class="sidebar-heading">
    <i class="fas fa-envelope-open mr-2"></i>
    <%= t('views.sidebar.requests') %>
  </span>

  <% if current_academic.current_orientation&.tcc_two? %>
    <%= active_link_to(academics_tep_requests_path,
		       class: 'list-group-item list-group-item-action') do %>
      <span class="icon mr-2">
        <i class="far fa-plus-square"></i>
      </span>
      <%= t('breadcrumbs.documents.requests.tep.sidebar') %>
    <% end %>
  <% end %>

  <%= active_link_to(academics_tso_requests_path,
		     class: 'list-group-item list-group-item-action') do %>
    <span class="icon mr-2">
      <i class="fas fa-exchange-alt"></i>
    </span>
    <%= t('breadcrumbs.documents.requests.tso.sidebar') %>
  <% end %>
</div>