<% provide(:head_title, t("sessions.edit_profile")) %>
<% provide(:page_title, t("sessions.edit_profile")) %>
<% provide(:title, t("sessions.edit_profile")) %>

<%= simple_form_for(resource, as: resource_name,
                    url: send("professor_registration_path"),
                    html: { method: :put, multipart: true }) do |f| %>

  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.input :name, required: true, autofocus: true %>
    </div>
    <div class="col-sm-6">
      <%= f.input :email %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.input :username, readonly: true %>
    </div>
    <div class="col-sm-6">
      <%= f.input :lattes %>
    </div>
  </div>


  <div class="form-row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-6">
          <%= f.association :scholarity %>
        </div>
        <div class="col-6">
          <%= f.association :professor_type,
            prompt: t('prompt.select.m', name: 'tipo') %>
        </div>
      </div>

      <%= f.association :roles,
        input_html: { data: 'selectize' },
        disabled: true %>

      <%= f.input :current_password,
        hint: t(".we_need_your_current_password_to_confirm_your_changes"),
        required: true %>

     <div class="row">
        <div class="col-sm-6">
          <%= f.input :gender,
                      as: :radio_buttons,
                      collection: Professor.human_genders,
                      item_wrapper_class: 'custom-control custom-radio custom-control-inline' %>
        </div>
        <div class="col-sm-6">
          <%= f.input :is_active, as: :checkbox_tabler %>
          <%= f.input :available_advisor, as: :checkbox_tabler %>
        </div>
      </div>
   </div>

    <div class="col-sm-4">
      <profile-image-preview
        :resource="<%= resource_name.to_json %>"
        :profile-image-url="<%= resource.profile_image.url.to_json %>"
        :profile-image-errors="<%= resource.errors[:profile_image] %>">
      </profile-image-preview>
      <%= f.hidden_field :profile_image_cache %>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to t("simple_form.buttons.back"), :responsible_root, class: 'btn btn-secondary' %>

    <%= f.button :submit, t(".update"), class: 'btn-primary ml-auto' %>
  </div>
<% end %>
