<% provide(:head_title, t("sessions.edit_profile")) %>
<% provide(:page_title, t("sessions.edit_profile")) %>
<% provide(:title, t("sessions.edit_profile")) %>

<%= simple_form_for(resource, as: resource_name,
                    url: send("#{resource_name}_registration_path"),
                    html: { method: :put, multipart: true }) do |f| %>

  <%= f.error_notification %>

  <%= f.input :email, required: true, autofocus: true %>

  <div class="form-row">
    <div class="col-sm-8">

      <%= f.input :password, autocomplete: "off",
        hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
        required: false %>

      <%= f.input :password_confirmation, required: false %>

      <%= f.input :current_password,
        hint: t(".we_need_your_current_password_to_confirm_your_changes"),
        required: true %>
    </div>

    <div class="col-4">
      <profile-image-preview
        :profile-image-url="<%= resource.profile_image.url.to_json %>"
        :profile-image-errors="<%= resource.errors[:profile_image] %>">
      </profile-image-preview>
      <%= f.hidden_field :profile_image_cache %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".update"), class: 'btn-primary btn-block' %>
  </div>
<% end %>

<div class="text-right mt-5">
  <%= link_to t("devise.shared.links.back"), :professors_root %>
</div>
