<tr>
  <td><%= institution.external_member.name %></td>
  <td><%= institution.trade_name %></td>
  <td><%= institution.cnpj.formatted %></td>
  <td><%= short_date(institution.created_at) %></td>
  <td>
    <%= render 'shared/links',
      resource_link: responsible_institution_path(institution),
      edit_link: edit_responsible_institution_path(institution) %>
  </td>
</tr>
