<% provide(:page_title, t('breadcrumbs.institutions.index')) %>
<% provide(:head_title, t('breadcrumbs.institutions.index')) %>

<div class="row">
  <div class="col-8">
    <search url="<%= responsible_institutions_search_path %>" search-term="<%= params[:term] %>" />
  </div>
  <div class="col-4">
    <%= link_to(new_responsible_institution_path, class: 'btn btn-outline-primary d-block') do %>
      <i class="fe fe-plus"></i>
      <%= t('breadcrumbs.institutions.new') %>
    <% end %>
  </div>
</div>

<div class="text-right mt-3">
  <%= page_entries_info @institutions %>
</div>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap">
    <thead>
      <tr>
        <th><%= Institution.human_attribute_name('name') %></th>
        <th><%= Institution.human_attribute_name('trade_name') %></th>
        <th><%= Institution.human_attribute_name('cnpj') %></th>
        <th><%= Institution.human_attribute_name('created_at') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @institutions.empty? %>
      </tr>
      <%= render @institutions %>
    </tbody>
  </table>
</div>

<%= paginate @institutions %>
