<% if orientation.can_be_canceled?(current_professor) %>
  <%= turbo_frame_tag "cancel_orientation_#{orientation.id}" do %>
    <div class="border border-danger rounded p-4">
      <div class="m-3">
        <div class="float-left">
          <strong>
            <%= t('views.buttons.models.orientation.cancel.label') %>
          </strong>
          <p><%= t('views.buttons.models.orientation.cancel.details') %></p>
        </div>
        
        <button
          id="orientation_cancel"
          type="button"
          class="float-right btn btn-outline-danger btn-sm"
          onclick="document.getElementById('cancel_form_<%= orientation.id %>').classList.toggle('d-none'); 
                   this.classList.toggle('d-none')">
          <%= t('views.buttons.models.orientation.cancel.label') %>
        </button>
      </div>
      
      <div class="clearfix"></div>
      <hr class="m-0">
      
      <div id="cancel_form_<%= orientation.id %>" class="m-3 d-none">
        <%= form_with url: responsible_orientations_cancel_path(id: orientation.id), 
                      method: :post,
                      data: { turbo_frame: "_top" } do |f| %>
          
          <div class="form-group orientation_cancel_justification">
            <%= f.label :cancellation_justification, 
                        Orientation.human_attribute_name('cancellation_justification'),
                        class: "form-label" do %>
              <%= Orientation.human_attribute_name('cancellation_justification') %>
              <abbr title="Obrigatório">*</abbr>
            <% end %>
            
            <%= f.text_area 'orientation[cancellation_justification]',
                            id: "orientation_cancel_justification",
                            rows: 5,
                            class: "form-control" %>
          </div>
          
          <div class="mt-4 float-right">
            <%= f.button t('views.buttons.save'),
                         type: "submit",
                         id: "save_justification",
                         class: "btn btn-primary" %>
            
            <button
              id="cancel_justification"
              type="button"
              class="mr-2 btn btn-outline-danger"
              onclick="window.location.reload()">
              <%= t('views.buttons.cancel') %>
            </button>
          </div>
          
          <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

