<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap">
    <thead>
      <tr>
        <th><%= Orientation.human_attribute_name('academic') %></th>
        <th><%= Orientation.human_attribute_name('ra') %></th>
        <th><%= Orientation.human_attribute_name('title') %></th>
        <th><%= Orientation.human_attribute_name('advisor') %></th>
        <th><%= Orientation.human_attribute_name('status') %></th>
        <th><%= Orientation.human_attribute_name('calendar') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @orientations.empty? %>
      </tr>
      <%= render @orientations %>
    </tbody>
  </table>
</div>

<%= paginate @orientations %>
