<td class="text-center status-width">
  <% cache orientation.status do %>
    <span data-toggle="tooltip" title="<%= orientation.status %>">
      <orientation-status
        :index="true"
        label="<%= orientation.status %>"
        status="<%= Orientation.statuses[orientation.status] %>" />
    </span>
  <% end %>
</td>

<td>
  <% cache ['dropdown', orientation.id] do %>
    <%= render partial: 'shared/orientations/menu/dropdown',
                 locals: { dropdown_links: dropdown_links, show_path: show_path, orientation: orientation } %>
  <% end %>
</td>

<td>
  <% cache ["academic_ra", orientation.id] do %>
    <%= orientation.academic.ra %>
  <% end %>
</td>

<td>
  <% cache ["short_title", orientation.id] do %>
    <span data-toggle="tooltip" title="<%= orientation.title %>">
      <%= orientation.short_title %>
    </span>
  <% end %>
</td>

<td>
  <% cache ["advisor_name", orientation.id] do %>
    <%= orientation.advisor.name %>
  <% end %>
</td>

<td>
  <% cache ["calendars", orientation.id] do %>
    <ul class="list-unstyled">
      <% orientation.calendars.order(year: :desc, semester: :desc).each do |calendar| %>
        <li class="<%= 'text-muted' unless calendar.current? %>">
          <%= calendar.year_with_semester_and_tcc %>
        </li>
      <% end %>
    </ul>
  <% end %>
</td>
