<td><%= orientation.academic.name %></td>
<td><%= orientation.academic.ra %></td>
<td>
  <span data-toggle="tooltip" title="<%= orientation.title %>">
    <%= orientation.short_title %>
  </span>
</td>
<td><%= orientation.advisor.name %></td>
<td>
  <% orientation.professor_supervisors.each do |supervisor| %>
    <p class="m-0"><%= supervisor.name %></p>
  <% end %>
</td>
<td><%= orientation.calendar.year_with_semester_and_tcc %></td>
