<td><%= link_to orientation.academic.name, show_path %></td>
<td><%= orientation.academic.ra %></td>
<td>
  <span data-toggle="tooltip" title="<%= orientation.title %>">
    <%= orientation.short_title %>
  </span>
</td>
<td><%= orientation.advisor.name %></td>
<td class="text-center">
  <span data-toggle="tooltip" title="<%= orientation.status %>">
    <orientation-status
      :index="true"
      label="<%= orientation.status %>"
      status="<%= Orientation.statuses[orientation.status] %>" />
  </span>
</td>
<td>
  <ul class="list-unstyled">
    <% orientation.calendars.order(year: :desc, semester: :desc).each do |calendar| %>
      <li class="<%= 'text-muted' unless calendar.current? %>"><%= calendar.year_with_semester_and_tcc %></li>
    <% end %>
  </ul>
</td>
