<%= simple_form_for [:responsible, @calendar] do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-2">
        <%= f.input :tcc,
                    as: :radio_button_tabler,
                    collection: BaseActivity.human_tccs %>
      </div>
      <div class="col-2">
        <%= f.input :semester,
                    as: :radio_button_tabler,
                    collection: Calendar.human_semesters %>
      </div>
      <div class="col-8">
        <%= f.input :year %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= render Forms::DatetimepickerComponent.new(
          name: "calendar[start_date]",
          id: "calendar_start_date",
          label: Calendar.human_attribute_name("start_date"),
          datetime: @calendar.start_date,
          errors: @calendar.errors[:start_date]
        ) %>
      </div>

      <div class="col-sm-6">
        <%= render Forms::DatetimepickerComponent.new(
          name: "calendar[end_date]",
          id: "calendar_end_date",
          label: Calendar.human_attribute_name("end_date"),
          datetime: @calendar.end_date,
          errors: @calendar.errors[:end_date]
        ) %>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      responsible_calendars_tcc_one_path,
      class: 'btn btn-secondary' %>

    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
