<% provide(:page_title, t('breadcrumbs.calendars.index')) %>
<% provide(:head_title, t('breadcrumbs.calendars.index')) %>

<div class="row">
  <div class="col-sm-12 col-lg-8 mb-2">
    <search url="<%= @search_url %>" search-term="<%= params[:term] %>" />
  </div>
  <div class="col-sm-12 col-lg-4">
    <%= link_to(new_responsible_calendar_path, class: 'btn btn-outline-primary d-block') do %>
      <i class="fe fe-plus"></i>
      <%= t('breadcrumbs.calendars.new') %>
    <% end %>
  </div>
</div>

<div class="text-right mt-3">
  <%= page_entries_info @calendars %>
</div>

<%= render('tabs') %>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap">
    <thead>
      <tr>
        <th><%= Calendar.human_attribute_name('year_semester') %></th>
        <th><%= Calendar.human_attribute_name('tcc') %></th>
        <th><%= Calendar.human_attribute_name('created_at') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @calendars.empty? %>
      </tr>
      <%= render @calendars %>
    </tbody>
  </table>
</div>

<%= paginate @calendars %>
