<% provide(:page_title, t('breadcrumbs.calendars.show')) %>
<% provide(:head_title, t('breadcrumbs.calendars.show')) %>

<div class="card card-profile">
  <div class="card-body text-center">
    <p>
      <strong>
        <%= Calendar.human_attribute_name('year') %>:
      </strong>
      <%= @calendar.year %>
    </p>
    <p>
      <strong>
        <%= Calendar.human_attribute_name('tcc') %>:
      </strong>
      <%= t("enums.tcc.#{@calendar.tcc}") %>
    </p>
    <p>
      <strong>
        <%= Calendar.human_attribute_name('semester') %>:
      </strong>
      <%= t("enums.semester.#{@calendar.semester}") %>
    </p>
    <p>
      <strong>
        <%= Calendar.human_attribute_name('created_at') %>:
      </strong>
      <%= complete_date(@calendar.created_at) %>
    </p>
    <p>
      <strong>
        <%= Calendar.human_attribute_name('updated_at') %>:
      </strong>
      <%= complete_date(@calendar.updated_at) %>
    </p>
  </div>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'),
    responsible_calendars_path,
    class: 'btn btn-secondary' %>

  <%= link_to t('simple_form.buttons.edit'),
    edit_responsible_calendar_path(@calendar),
    class: 'btn btn-primary ml-auto' %>
</div>

