<span class="sidebar-heading">
  <%= icon('fas', 'folder', class: 'mt-2 mr-2') %>
  <%= t('views.sidebar.documents.index') %>
</span>

<% if current_professor&.role?(:responsible) %>
  <%= active_link_to(reviewing_path,
		     class: 'list-group-item list-group-item-action') do %>
    <span class="icon mr-2 mt-2">
      <%= icon('fas', 'file-alt') %>
    </span>
    <%= t('views.sidebar.documents.review') %>
  <% end %>
<% end %>

<%= active_link_to(pending_path,
		   active: send("#{resource}_documents_pending_active_link?"),
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2 mt-2">
    <%= icon('fas', 'file-signature') %>
  </span>
  <%= t('views.sidebar.documents.pending') %>
<% end %>

<%= active_link_to(signed_path,
		   active: send("#{resource}_documents_signed_active_link?"),
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2 mt-2">
    <%= icon('fas', 'file-contract') %>
  </span>
  <%= t('views.sidebar.documents.signed') %>
<% end %>
