<div class="container-fluid fixed-top header py-4">
    <div class="d-flex">
      <%= link_to send("#{current_user.class.name.pluralize.underscore.downcase}_root_path"), class: 'header-brand ml-5' do %>
        <% image_tag 'tsi.png', class: 'header-brand-img', alt: 'logo-tsi'  %>
      <% end  %>
      <div class="d-flex order-lg-2 ml-auto">
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url('<%= current_user.profile_image %>')"></span>

            <span class="ml-2 d-none d-lg-block">
              <span class="text-default"><%= current_user.name %></span>
              <small class="text-muted d-block mt-1"><%= current_user.email %></small>
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <%= link_to send("edit_#{current_user.class.name.underscore.downcase}_registration_path"), class: 'dropdown-item' do %>
              <i class="dropdown-icon fe fe-user"></i> <%= t('sessions.profile') %>
            <% end %>
	    <%= link_to send("destroy_#{current_user.class.name.underscore.downcase}_session_path"), method: :delete, class: 'dropdown-item' do %>
              <i class="dropdown-icon fe fe-log-out"></i> <%= t('sessions.sign_out') %>
            <% end %>
          </div>
        </div>

        <%= render '/layouts/shared/responsive_menu_toggle' %>
      </div>
  </div>
</div>

