<% unless @activities.empty? %>
  <div class="card col-12">
    <div class="card-header">
      <h3 class="card-title col-sm-8">
        <b><%= t('breadcrumbs.activities.recent') %></b>
      </h3>
    </div>
    <div class="table-sm table-responsive">
      <div class="text-right mt-3">
        <%= t('helpers.total_entries') %>
        <%= @activities.size %>
        <%= t('entry_names.activities', count: @activities.size) %>
      </div>
      <div class="table-striped mt-3 table-responsive w-100">
        <table class="table card-table table-vcenter text-nowrap">
          <thead>
            <tr>
              <th><%= Activity.human_attribute_name(:name) %></th>
              <th><%= Activity.human_attribute_name(:academic) %></th>
              <th><%= Activity.human_attribute_name(:sent)%></th>
              <th><%= Activity.human_attribute_name(:base_activity_type) %></th>
              <th><%= Activity.human_attribute_name(:tcc) %></th>
              <th><%= Activity.human_attribute_name(:deadline) %></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <%= render('shared/no_results') if @activities.empty? %>
            </tr>
            <% @activities.each do |activity| %>
              <tr>
                <td><%= link_to activity.activity.name, professors_orientation_calendar_activity_path(activity.academic.orientations.last, activity.activity.calendar, activity.activity) %></td>
                <td><%= activity.academic.name %></td>
                <td><%= activity.activity.responses.entries_info %></td>
                <td><%= activity.activity.base_activity_type.name %></td>
                <td><%= t("enums.tcc.#{activity.activity.tcc}") %></td>
                <td><%= activity.activity.deadline %></td>
              </tr>         
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
