<tr>
  <td><%= academic.name %></td>
  <td><%= academic.email %></td>
  <td><%= academic.ra %></td>
  <td><%= short_date(academic.created_at) %></td>
  <td>
    <%= render 'shared/links',
      resource_link: responsible_academic_path(academic),
      edit_link: edit_responsible_academic_path(academic) %>
  </td>
</tr>
