<%= simple_form_for [:responsible, @post] do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :title %>
      </div>
      <div class="col-sm-4">
        <%= f.input :url, placeholder: t('placeholders.post.url') %>
      </div>
      <div class="col-sm-4">
        <%= f.input :fa_icon %>
      </div>
    </div>
    <%= f.input :content, input_html: { class: 'markdown-editor' } %>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      responsible_posts_path,
      class: 'btn btn-secondary' %>

    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
