<% provide(:page_title, t('breadcrumbs.posts.show')) %>
<% provide(:head_title, t('breadcrumbs.posts.show')) %>

<div class="card">
  <div class="card-body">
    <p>
      <strong>
        <%= Post.human_attribute_name('title') %>:
      </strong>
      <%= @post.title %>
    </p>
    <p>
      <strong>
        <%= Post.human_attribute_name('content') %>:
      </strong>
      <div class="form-fieldset">
        <vue-simple-markdown source="<%= @post.content %>" />
      </div>
    </p>
    <p>
      <strong>
        <%= Post.human_attribute_name('created_at') %>:
      </strong>
      <%= complete_date(@post.created_at) %>
    </p>
    <p>
      <strong>
        <%= Post.human_attribute_name('updated_at') %>:
      </strong>
      <%= complete_date(@post.updated_at) %>
    </p>
  </div>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'),
    responsible_posts_path,
    class: 'btn btn-secondary' %>

  <%= link_to t('simple_form.buttons.edit'),
    edit_responsible_post_path(@post),
    class: 'btn btn-primary ml-auto' %>
</div>
