<% provide(:page_title, @title) %>
<% provide(:head_title, @title) %>

<% if @examination_board.defense_minutes.present? %>
  <%= link_to t('views.buttons.defense_minutes.view'),
    send("#{resource}_document_path", @examination_board.defense_minutes),
    class: 'btn btn-outline-primary float-right mb-4' %>
<% end %>

<div class="card">
  <div class="card-body">
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('orientation') %>:
      </strong>
      <%= @examination_board.orientation.title %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('identifier') %>:
      </strong>
      <%= t("enums.tcc.identifiers.#{@examination_board.identifier}") %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('advisor') %>:
      </strong>
      <%= @examination_board.orientation.advisor.name_with_scholarity %>
    </p>
    <% unless @examination_board.orientation.professor_supervisors.empty? %>
      <p>
        <strong>
          <%= Orientation.human_attribute_name('professor_supervisors') %>:
        </strong>
        <br>
        <% @examination_board.orientation.professor_supervisors.each do |supervisor| %>
          <%= supervisor.name %><br>
        <% end %>
      </p>
    <% end %>
    <% unless @examination_board.orientation.external_member_supervisors.empty? %>
      <p>
        <strong>
          <%= Orientation.human_attribute_name('external_member_supervisors') %>:
        </strong>
        <br>
        <% @examination_board.orientation.external_member_supervisors.each do |supervisor| %>
          <%= supervisor.name %><br>
        <% end %>
      </p>
    <% end %>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('academic') %>:
      </strong>
      <%= @examination_board.orientation.academic_with_calendar %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('place') %>:
      </strong>
      <%= @examination_board.place %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('date') %>:
      </strong>
      <%= complete_date(@examination_board.date) %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('document_available_until') %>:
      </strong>
      <%= complete_date(@examination_board.document_available_until) %>
    </p>
    <% unless @examination_board.professors.empty? %>
      <p>
        <strong>
          <%= ExaminationBoard.human_attribute_name('utfpr_evaluators') %>:
        </strong>
        <br>
        <% @examination_board.professors.each do |professor| %>
          <%= professor.name_with_scholarity %><br>
        <% end %>
      </p>
    <% end %>
    <% unless @examination_board.external_members.empty? %>
      <p>
        <strong>
          <%= ExaminationBoard.human_attribute_name('external_member_evaluators') %>:
        </strong>
        <br>
        <% @examination_board.external_members.each do |external_member| %>
          <%= external_member.name_with_scholarity %><br>
        <% end %>
      </p>
    <% end %>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('created_at') %>:
      </strong>
      <%= complete_date(@examination_board.created_at) %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('updated_at') %>:
      </strong>
      <%= complete_date(@examination_board.updated_at) %>
    </p>
  </div>
</div>

<% if @examination_board.academic_activity.present? %>
  <%= render 'shared/examination_boards/academic_activity',
    academic_activity: @examination_board.academic_activity,
    identifier: @examination_board.academic_activity.activity.identifier %>
<% end %>

<% if @examination_board.final_note.blank? %>
  <%= yield(:evaluator_note_form) %>
<% else %>
  <%= render 'shared/examination_boards/final_note' %>
<% end %>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'), back_url, class: 'btn btn-secondary' %>
  <%= yield(:edit_button) %>
</div>
