<div class="text-right mt-3">
  <%= page_entries_info @examination_boards %>
</div>

<%= render('tabs') %>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap">
    <thead>
      <tr>
        <th><%= ExaminationBoard.human_attribute_name('orientation') %></th>
        <th><%= ExaminationBoard.human_attribute_name('place') %></th>
        <th><%= ExaminationBoard.human_attribute_name('date') %></th>
        <th><%= ExaminationBoard.human_attribute_name('advisor') %></th>
        <th><%= ExaminationBoard.human_attribute_name('guests') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @examination_boards.empty? %>
      </tr>
      <%= render @examination_boards %>
    </tbody>
  </table>
</div>

<%= paginate @examination_boards %>
