<div class="text-right mt-3">
  <%= page_entries_info @examination_boards,
    entry_name: t('entry_names.examination_boards', count: @examination_boards.size) %>
</div>

<div class="legend">
  <p> <span class="status badge-today"></span> Será hoje </p>
  <p> <span class="status badge-minutes"></span> Será em alguns minutos</p>
  <p> <span class="status badge-passad"></span> Já ocorreu</p>
</div>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap no-table-padding-horizontal">
    <thead>
      <tr>
        <th><%= ExaminationBoard.human_attribute_name('status') %></th>
        <th><%= ExaminationBoard.human_attribute_name('academic') %></th>
        <th><%= ExaminationBoard.human_attribute_name('place') %></th>
        <th><%= ExaminationBoard.human_attribute_name('date') %></th>
        <th><%= ExaminationBoard.human_attribute_name('advisor') %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @examination_boards.empty? %>
      </tr>
      <%= render partial: "#{namespace}/examination_boards/examination_board", collection: @examination_boards %>
    </tbody>
  </table>
</div>

