<%= render 'shared/examination_boards/legend_status' %>

<div class="text-right mt-3">
  <%= page_entries_info @examination_boards,
    entry_name: t('entry_names.examination_boards', count: @examination_boards.size) %>
</div>

<%= yield(:orienation_tabs) %>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap no-table-padding-horizontal">
    <thead>
      <tr>
        <th><%= ExaminationBoard.human_attribute_name('status') %></th>
        <th><%= ExaminationBoard.human_attribute_name('academic') %></th>
        <th><%= ExaminationBoard.human_attribute_name('place') %></th>
        <th><%= ExaminationBoard.human_attribute_name('date') %></th>
        <th><%= ExaminationBoard.human_attribute_name('advisor') %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @examination_boards.empty? %>
      </tr>
      <%= render partial: "#{namespace}/examination_boards/examination_board", collection: @examination_boards %>
    </tbody>
  </table>

  <%= paginate @examination_boards %>
</div>
