<td class="text-center">
  <examination-board-status
    status="<%= examination_board.status %>"
    label="<%= examination_board.distance_of_date %>" />
</td>
<td>
  <span data-toggle="tooltip" title="<%= examination_board.orientation.title %>">
<<<<<<< HEAD
    <%= link_to examination_board.orientation.academic_with_calendar, academics_examination_board_path(examination_board) %>
=======
    <%= link_to academics_examination_board_path(examination_board) do %>
      <%= examination_board.orientation.academic_with_calendar %>
    <% end %>
>>>>>>> 520c03b6a9b218475c2b05d56fca6662d80efb82
  </span>
</td>
<td><%= examination_board.place %></td>
<td><%= datetime(examination_board.date) %></td>
<td><%= examination_board.orientation.advisor.name_with_scholarity %></td>
