<span class="sidebar-heading">
  <%= icon('fas', 'users', class: 'mr-2') %>
  <%= t('views.sidebar.advisor') %>
</span>

<%= active_link_to(professors_root_path,
		   active: :exact,
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2">
    <%= icon('fas', 'home') %>
  </span>
  <%= t('breadcrumbs.homepage') %>
<% end %>

<% if Calendar.current_by_tcc_one %>
  <%= active_link_to(professors_calendar_activities_path(Calendar.current_by_tcc_one.id),
		     class: 'list-group-item list-group-item-action') do %>
    <span class="icon mr-2">
      <%= icon('far', 'file-alt') %>
    </span>
    <%= t('breadcrumbs.tcc.one.calendar', calendar: current_calendar_title) %>
  <% end %>
<% end %>

<% if Calendar.current_by_tcc_two %>
  <%= active_link_to(professors_calendar_activities_path(Calendar.current_by_tcc_two.id),
		     class: 'list-group-item list-group-item-action') do %>
    <span class="icon mr-2">
      <%= icon('far', 'file-alt') %>
    </span>
    <%= t('breadcrumbs.tcc.two.calendar', calendar: current_calendar_title) %>
  <% end %>
<% end %>

<%= active_link_to(professors_orientations_tcc_one_path,
		   active: professors_orientations_active_link?,
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2">
    <%= icon('fas', 'file-code') %>
  </span>
  <%= t('breadcrumbs.orientations.tcc.calendar', calendar: current_calendar_title) %>
<% end %>

<%= active_link_to(professors_orientations_history_path,
		   active: professors_orientations_history_active_link?,
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2">
    <%= icon('far', 'folder') %>
  </span>
  <%= t('breadcrumbs.history') %>
<% end %>

<%= active_link_to(professors_meetings_path,
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2">
    <%= icon('fas', 'user-check') %>
  </span>
  <%= t('breadcrumbs.meetings.index') %>
<% end %>

<%= active_link_to(professors_examination_boards_path,
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2">
    <%= icon('fas', 'user-friends') %>
  </span>
  <%= t('breadcrumbs.examination_boards.index') %>
<% end %>

<div class="sidebar-menu">
  <span class="sidebar-heading">
    <%= icon('fas', 'envelope-open', class: 'mr-2') %>
    <%= t('views.sidebar.requests') %>
  </span>

  <%= active_link_to(professors_requests_path,
		     class: 'list-group-item list-group-item-action') do %>
    <span class="icon mr-2">
      <%= icon('fas', 'exclamation-triangle') %>
    </span>
    <%= t('breadcrumbs.documents.requests.tdo.advisor') %>
  <% end %>
</div>
