<%= render 'layouts/shared/sidebar' do %>
  <% if current_professor.role?(:responsible) %>
    <%= render 'layouts/professors/responsible_menu' %>
  <% end %>
  <div class="pt-2">
    <%= render 'layouts/professors/professor_menu' %>
  </div>
  <div class="pt-2">
    <%= render 'layouts/professors/supervisor_menu' %>
  </div>
  <div class="pt-2">
    <% if current_professor.role?(:tcc_one) %>
      <%= render 'layouts/professors/professor_tcc1_menu' %>
    <% end %>
  </div>
<% end %>
