<div class="col-lg-3 mb-4">
	<div class="list-group list-group-transparent mb-0">
		<%= link_to '#', class: 'list-group-item list-group-item-action active' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'home') %>
			</span>
			<%= t('breadcrumbs.homepage') %>
		<% end %>

		<%= link_to(academics_path, class: 'list-group-item list-group-item-action') do %>
			<span class="icon mr-3">
				<%= icon('fas', 'user-graduate') %>
			</span>
			<%= t('breadcrumbs.academics.index') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'chalkboard-teacher') %>
			</span>
			<%= t('breadcrumbs.professors.index') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'calendar') %>
			</span>
			<%= t('breadcrumbs.calendars.index') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'file-signature') %>
			</span>
			<%= t('breadcrumbs.meetings.index') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'clipboard') %>
			</span>
			<%= t('breadcrumbs.examination_boards.index') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'file') %>
			</span>
			<%= t('breadcrumbs.pages.index') %>
		<% end %>
	</div>
</div>
