<div class="col-lg-3 mb-4">
	<div class="list-group list-group-transparent mb-0">
		<%= link_to '#', class: 'list-group-item list-group-item-action active' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'home') %>
			</span>
			<%= t('links.home_page') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'user-graduate') %>
			</span>
			<%= t('links.academics') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'chalkboard-teacher') %>
			</span>
			<%= t('links.professors') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'calendar') %>
			</span>
			<%= t('links.calendars') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'file-signature') %>
			</span>
			<%= t('links.meetings') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'clipboard') %>
			</span>
			<%= t('links.examination_boards') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'file') %>
			</span>
			<%= t('links.pages') %>
		<% end %>
	</div>
</div>
