<span class="sidebar-heading pl-0 pt-2 pb-2">
  <%= icon('fas', 'users', class: 'mr-2') %>
  <%= t('views.sidebar.supervisor') %>
</span>

<%= active_link_to(professors_supervisions_tcc_one_path,
		   active: professors_supervisions_active_link?,
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2">
    <%= icon('far', 'file-code') %>
  </span>
  <%= t('breadcrumbs.supervisions.calendar', calendar: current_calendar_title) %>
<% end %>

<%= active_link_to(professors_supervisions_history_path,
		   active: professors_supervisions_history_active_link?,
		   class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-2">
    <%= icon('far', 'folder') %>
  </span>
  <%= t('breadcrumbs.history') %>
<% end %>
