<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>
      <%= full_title(yield(:head_title)) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag %>
  </head>

  <body>
    <div id="app" class="page">
      <div class="page-main">

	<div class="">
	  <div class="container-fluid m-0">
	    <div class="row">
	      <%= render 'layouts/shared/header', current_user: current_professor %>
	      <%= render 'layouts/professors/sidebar' %>

	      <div class="col-md-10">
		<div id="main-breadcrumbs">
		  <%= render_breadcrumbs builder: ::BootstrapBreadcrumbsBuilder  %>
		</div>

		<div class="card" id="main-card">
		  <div class="card-header">
		    <h1 class="page-title mb-3">
		      <%= yield(:page_title) %>
		    </h1>
		  </div>
		  <div class="card-body">
		    <%= render 'shared/flash_messages'%>
		    <%= yield %>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>

      <%= render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
