<% provide(:head_title, t("sessions.edit_profile")) %>
<% provide(:page_title, t("sessions.edit_profile")) %>
<% provide(:title, t("sessions.edit_profile")) %>

<%= simple_form_for(resource, as: resource_name,
                    url: send("academics_registration_path"),
                    html: { method: :put, multipart: true }) do |f| %>

  <%= f.error_notification %>

  <%= f.input :name, required: true, autofocus: true %>
  <%= f.input :email %>

  <div class="form-row">
    <div class="col-sm-8">

      <%= f.input :current_password,
        hint: t('devise.registrations.edit.current_password_to_confirm'),
        required: true %>
    </div>

    <div class="col-4">
      <profile-image-preview
        :resource="<%= resource_name.to_json %>"
        :profile-image-url="<%= resource.profile_image.url.to_json %>"
        :profile-image-errors="<%= resource.errors[:profile_image] %>">
      </profile-image-preview>
      <%= f.hidden_field :profile_image_cache %>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to t("simple_form.buttons.back"), :academics_root, class: 'btn btn-secondary' %>

    <%= f.button :submit, t("devise.registrations.edit.update"), class: 'btn-primary ml-auto' %>
  </div>
<% end %>
