<% provide(:page_title, t('breadcrumbs.documents.requests.tep.show')) %>
<% provide(:head_title, t('breadcrumbs.documents.requests.tep.show')) %>

<div class="card">
  <div class="card-body">
    <p>
      <strong>
        <%= Document.human_attribute_name('justification') %>:
      </strong>
      <vue-simple-markdown
        source="<%= @document.request['requester']['justification'] %>" />
    </p>
    <p>
      <strong>
        <%= Document.human_attribute_name('created_at') %>:
      </strong>
      <%= complete_date(@document.created_at) %>
    </p>
    <p>
      <strong>
        <%= Document.human_attribute_name('updated_at') %>:
      </strong>
      <%= complete_date(@document.updated_at) %>
    </p>
  </div>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'),
    academics_tso_requests_path,
    class: 'btn btn-secondary' %>

  <%= link_to t('simple_form.buttons.edit'),
    edit_academics_tso_request_path(@document),
    class: 'btn btn-primary ml-auto' %>
</div>

