<tr>
  <td>
    <span data-toggle="tooltip" title="<%= examination_board.orientation.title %>">
      <%= examination_board.orientation.short_title %>
    </span>
  </td>
  <td><%= examination_board.place %></td>
  <td><%= datetime(examination_board.date) %></td>
  <td>
    <% examination_board.professors.each do |professor| %>
      <p class="m-0"><%= professor.name %></p>
    <% end %>
  </td>
  <td>
    <% examination_board.external_members.each do |external_member| %>
      <p class="m-0"><%= external_member.name %></p>
    <% end %>
  </td>
  <td>
    <%= link_to(tcc_one_professors_examination_board_path(examination_board)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="Show"></i>
    <% end %>
    <%= link_to(edit_tcc_one_professors_examination_board_path(examination_board)) do %>
      <i class="fe fe-edit" data-toggle="tooltip" title="Editar"></i>
    <% end %>
    <%= link_to tcc_one_professors_examination_board_path(examination_board),
      method: :delete,
      data: { confirm: t('prompt.confirm') },
      class: 'destroy' do %>
      <i class="fe fe-trash" data-toggle="tooltip" title="Delete"></i>
    <% end %>
  </td>
</tr>
