<% provide(:page_title, t('breadcrumbs.examination_boards.index')) %>
<% provide(:head_title, t('breadcrumbs.examination_boards.index')) %>

<div class="row">
  <div class="col-sm-12 col-lg-8 mb-2">
    <search url="<%= @search_url %>" search-term="<%= params[:term] %>" />
  </div>
  <div class="col-sm-12 col-lg-4">
    <%= link_to(new_tcc_one_professors_examination_board_path, class: 'btn btn-outline-primary d-block') do %>
      <i class="fe fe-plus"></i>
      <%= t('breadcrumbs.examination_boards.tcc.one.new') %>
    <% end %>
  </div>
</div>

<div class="text-right mt-3">
  <%= page_entries_info @examination_boards %>
</div>

<%= render('tabs') %>

<%= render 'shared/examination_boards/table' %>
