<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>
      <%= full_title(yield(:head_title)) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'public/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'public/application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag %>
  </head>

  <body>
    <div id="app" class="page">
      <div class="page-main">
	<%= render 'layouts/site/header' %>

	<div class="container">
	  <%= render 'shared/alert_messages' %>

	  <div class="row">
	    <%= render 'layouts/site/sidebar' %>

	    <div class="col-md-9">
	      <div class="card">
		<div class="card-body">
		  <div class="text-wrap p-lg-6">
		    <h2 class="mt-0 mb-4">
		      <%= yield(:page_title) %>
		    </h2>

		    <%= yield %>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
