<tr>
  <td><%= activity.name %></td>
  <td><%= activity.base_activity_type.name %></td>
  <td><%= t("enums.tcc.#{activity.tcc}") %></td>
  <td><%= activity.deadline %></td>
  <td>
    <%= link_to(external_members_calendar_activity_path(@calendar, activity)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="<%= t('titles.show') %>"></i>
    <% end %>
  </td>
</tr>
