<%= simple_form_for [:responsible, @attached_document], html: { multipart: true } do |f| %>
  <div class="row form-inputs">
    <div class="col-12">
      <%= f.input :name %>
    </div>
    <div class="col-12">
      <%= f.label :file, class: 'font-weight-bold' %>
      <file-input
        name="attached_document[file]"
        id="attached_document_file"
        label="<%= AttachedDocument.human_attribute_name('file') %>"
        :url="<%= @attached_document.file.url.to_json %>"
        :errors="<%= @attached_document.errors[:file] %>" />
      <%= f.hidden_field :file_cache %>
    </div>
  </div>

  <div class="d-flex mt-4">
    <%= link_to t('simple_form.buttons.back'),
      responsible_attached_documents_path,
      class: 'btn btn-secondary' %>

    <%= f.button :submit,
      t('views.buttons.save'),
      class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
