<div class="card">
  <div class="card-body">
    <%= simple_form_for(@academic_activity, url: url, html: { multipart: true }) do |f| %>
      <div class="row">
        <div class="col-12">
          <%= f.input :title,
            label: AcademicActivity.human_attribute_name("#{@activity.identifier}_title") %>
        </div>

        <div class="col-12">
          <%= f.input :summary,
            label: AcademicActivity.human_attribute_name("#{@activity.identifier}_summary") %>
        </div>

        <div class="col-12">
          <%= f.input :additional_instructions,
            input_html: { class: 'markdown-editor' },
            label: AcademicActivity.human_attribute_name("#{@activity.identifier}_additional_instructions") %>
        </div>

        <div class="col-md-6 mb-6">
          <label class="font-weight-bold">
            <%= AcademicActivity.human_attribute_name("send_#{@activity.identifier}_pdf") %> *
          </label>
          <div>
            <file-input
              name="academic_activity[pdf]"
              id="academic_activity_pdf"
              hint="<%= t('hints.file.pdf') %>"
              label="<%= AcademicActivity.human_attribute_name('pdf') %>"
              :url="<%= @academic_activity.pdf.url.to_json %>"
              :errors="<%= @academic_activity.errors[:pdf] %>" />
          </div>
          <%= f.hidden_field :pdf_cache %>
        </div>
        <div class="col-md-6">
          <label class="font-weight-bold">
            <%= AcademicActivity.human_attribute_name("send_#{@activity.identifier}_complementary_files") %> *
          </label>
          <div>
            <file-input
              name="academic_activity[complementary_files]"
              id="academic_activity_complementary_files"
              hint="<%= t('hints.file.zip') %>"
              label="<%= AcademicActivity.human_attribute_name('complementary_files') %>"
              :url="<%= @academic_activity.complementary_files.url.to_json %>"
              :errors="<%= @academic_activity.errors[:complementary_files] %>" />
          </div>
          <%= f.hidden_field :complementary_files_cache %>
        </div>
      </div>

      <div class="row mt-6">
        <div class="col-md-6">
          <% if @academic_activity.pdf.present? %>
            <%= link_to(@academic_activity.pdf.url, target: :_blank) do %>
              <span class="icon mr-1">
                <i class="fas fa-file-pdf"></i>
              </span>
              <%= AcademicActivity.human_attribute_name("sent_#{@activity.identifier}_pdf") %>
            <% end %>
          <% end %>
        </div>

        <div class="col-md-6">
          <% if @academic_activity.complementary_files.present? %>
            <%= link_to(@academic_activity.complementary_files.url, target: :_blank) do %>
              <%= AcademicActivity.human_attribute_name("sent_#{@activity.identifier}_complementary_files") %>
            <% end %>
          <% end %>
        </div>
      </div>

      <%= f.input :activity_id, as: :hidden, input_html: { value: @activity.id } %>
      <%= f.input :academic_id, as: :hidden, input_html: { value: current_academic.id } %>

      <div class="col-12 mt-2">
        <%= f.button :submit, t('views.buttons.save'), class: 'btn btn-primary float-right' %>
      </div>
    <% end %>
  </div>
</div>

