<div class="card">
  <div class="card-body">
    <%= simple_form_for(@academic_activity, url: url, html: { multipart: true }) do |f| %>
      <div class="row">
        <div class="col-12">
          <%= f.input :title %>
        </div>
        <div class="col-12">
          <%= f.input :summary %>
        </div>

        <div class="col-md-6">
          <file-input
            name="academic_activity[pdf]"
            id="academic_activity_pdf"
            hint="Arquivo no formato pdf"
            label="<%= AcademicActivity.human_attribute_name('pdf') %>"
            :value="<%= @academic_activity.pdf.url.to_json %>"
            :errors="<%= @academic_activity.errors[:pdf] %>">
          </file-input>
          <%= f.hidden_field :pdf_cache %>
        </div>
        <div class="col-md-6">
          <file-input
            name="academic_activity[complementary_files]"
            id="academic_activity_complementary_files"
            hint="Arquivo no formato .zip"
            label="<%= AcademicActivity.human_attribute_name('complementary_files') %>"
            :value="<%= @academic_activity.complementary_files.url.to_json %>"
            :errors="<%= @academic_activity.errors[:complementary_files] %>">
          </file-input>
          <%= f.hidden_field :complementary_files_cache %>
        </div>

        <%= f.input :activity_id,
          as: :hidden,
          input_html: { value: @activity.id } %>

        <%= f.input :academic_id,
          as: :hidden,
          input_html: { value: current_academic.id } %>

        <div class="col-12 mt-2">
          <%= f.button :submit,
            t('views.buttons.save'),
            class: 'btn btn-primary float-right' %>
      </div>
      </div>
    <% end %>
  </div>
</div>

