<% provide(:page_title, t("breadcrumbs.tcc.#{@calendar.tcc}.show")) %>
<% provide(:head_title, t("breadcrumbs.tcc.#{@calendar.tcc}.show")) %>

<div class="card">
  <div class="card-body">
    <p>
      <strong>
        <%= Activity.human_attribute_name('name') %>:
      </strong>
      <%= @activity.name %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('deadline') %>:
      </strong>
      <%= @activity.deadline %>
    </p>
  </div>
</div>

<% if @activity.base_activity_type.send_document? %>
  <%= render 'academics/activities/academic_activity',
    url: @academic_activity.present? ? academics_calendar_activity_files_path(@calendar, @activity)
                                     : academics_calendar_activity_file_path(@calendar, @activity) %>
<% end %>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'),
    academics_calendar_activities_path(@calendar),
    class: 'btn btn-secondary' %>
</div>

