<% orientation.calendars.each do |calendar| %>
  <tr>
    <td><%= link_to academics_calendar_activities_path(calendar) do %><%= calendar.year_with_semester %>
      <% end %>
    </td>    <td><%= t("enums.tcc.#{calendar.tcc}") %></td>
    <td>
      <span data-toggle="tooltip" title="<%= orientation.title %>">
        <%= orientation.short_title %>
      </span>
    </td>
    <td><%= orientation.advisor.name %></td>
    <td>
      <% orientation.supervisors.each do |supervisor| %>
        <p class="m-0"><%= supervisor.name %></p>
      <% end %>
    </td>
    <td>
      <%= link_to(academics_calendar_orientation_activities_path(calendar, orientation)) do %>
        <i class="far fa-file-alt" data-toggle="tooltip" title="Visualizar atividades"></i>
      <% end %>

      <%= link_to(academics_calendar_orientation_documents_path(calendar, orientation)) do %>
        <i class="fe fe-file" data-toggle="tooltip" title="Visualizar documentos"></i>
      <% end %>
    </td>
  </tr>
<% end %>
