<% provide(:head_title, t('breadcrumbs.documents.show')) %>
<% provide(:page_title) do %>
  <signature-show-title />
<% end %>

<div class="container">
  <div>
    <%= render 'shared/documents/component', document: @document %>
  </div>

  <div class="mb-4">
    <% unless @signature&.status || @not_show_sign_button %>
      <signature-confirm
        label="<%= label %>"
        url="<%= confirm_url %>">
      </signature-confirm>

      <signature-button
        show-title="<%= t('breadcrumbs.signatures.TCO.show',
                          academic: @document.orientation.academic.name) %>">
      </signature-button>
    <% end %>

    <signature-download-button
      head-title="<%= t('breadcrumbs.documents.show') %>"
      document-title="<%= @document.filename %>">
    </signature-download-button>
  </div>

  <signature-status url="<%= document_status_path(@document) %>">
  </signature-status>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'), back_url, class: 'btn btn-secondary' %>
</div>

