<div class="text-right mt-3">
  <%= page_entries_info @documents %>
</div>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap">
    <thead>
      <tr>
        <th><%= Document.human_attribute_name('orientation') %></th>
        <th><%= Document.human_attribute_name('academic') %></th>
        <th><%= Document.human_attribute_name('document_type') %></th>
        <th><%= Document.human_attribute_name('all_signed') %></th>
        <th><%= Document.human_attribute_name('created_at') %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @documents.empty? %>
      </tr>
      <%= render partial: "#{namespace}/documents/document", collection: @documents %>
    </tbody>
    # </tbody>
  </table>
</div>
