<td><%= link_to document.orientation.short_title, academics_document_path(document) %></td>
<td><%= document.orientation.academic.name %></td>
<td>
  <span data-toggle="tooltip" title="<%= document.document_type.name %>">
    <%= document.document_type.identifier.upcase %>
  </span>
</td>
<td>
  <%= t("helpers.boolean.#{document.all_signed?}") %>
</td>
<td><%= short_date(document.created_at) %></td>