<% provide(:head_title, t('passwords.forgot_password')) %>
<% provide(:title, t('passwords.forgot_password')) %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, autofocus: true, placeholder: t('placeholder.email') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('passwords.send_me_reset_instructions'), class: 'btn-primary btn-block' %>
  </div>
<% end %>
</div>

<div class="text-right">
  <%= link_to t('back'), new_session_path(resource_name) %>
</div>


