<tr>
  <td class="w-1">
    <table-avatar url="<%= professor.profile_image %>" />
  </td>
  <td><%= professor.name_with_scholarity %></td>
  <td><%= professor.professor_type.name %></td>
  <td><%= professor.email %></td>
  <td class="text-center">
    <%= link_to professor.lattes, target: '_blank' do %>
      <%= icon('fas', 'external-link-alt', 'data-toggle' => 'tooltip', title: 'lattes') %>
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to(site_professor_path(professor)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="Visualizar detalhes do professor"></i>
    <% end %>
  </td>
</tr>
