<tr>
  <td class="w-1 border-right-0">
    <span class="avatar" style="background-image: url('<%= asset_path(professor.profile_image) %>')"></span>
  </td>
  <td class="border-left-0">
    <%= link_to(site_professor_path(professor)) do %>
      <%= professor.name_with_scholarity %>
    <% end %>
  </td>
  <td><%= professor.email %></td>
  <td class="text-center">
    <%= link_to professor.lattes, target: '_blank' do %>
      <i class="fas fa-external-link-alt" data-toggle="tooltip" title="lattes"></i>
    <% end %>
  </td>
  <td><%= t("helpers.boolean.#{professor.available_advisor}") %></td>
</tr>
