<div
  data-controller="file-input"
  data-file-input-name-value="<%= name %>"
  data-file-input-label-value="<%= label %>"
  data-file-input-hint-value="<%= hint %>"
  data-file-input-url-value="<%= url %>"
  data-file-input-errors-value="<%= errors.to_json.html_safe %>"
  class="form-group custom-file mb-3"
>
  <input
    type="file"
    class="custom-file-input"
    id="<%= id %>"
    name="<%= name %>"
    data-action="change->file-input#change"
  >
  <label class="custom-file-label text-truncate" for="<%= id %>">
    Procurar arquivo...
  </label>

  <% if errors.present? %>
    <div class="invalid-feedback d-block">
      <% errors.each do |error| %>
        <p><%= label %> <%= error %></p>
      <% end %>
    </div>
  <% end %>

  <% if hint.present? %>
    <small class="form-text text-muted"><%= hint %></small>
  <% end %>
</div>
