<% provide(:head_title) do %>
  <%= t('breadcrumbs.signatures.title',
        type: @signature.document.document_type.identifier.upcase,
        academic: @signature.orientation.academic.name.upcase,
        calendar: @signature.orientation.calendar.year_with_semester) %>
<% end %>
<% provide(:page_title) do %>
  <signature-show-title />
<% end %>

<div class="clearfix mb-4">
  <div class="float-right ml-2">
    <signature-download-button />
  </div>

  <% unless @signature.status %>
    <div>
      <signature-confirm
        label="<%= label %>"
        url="<%= confirm_url %>" />
    </div>

    <div class="float-right">
      <signature-button
        show-title="<%= t('breadcrumbs.signatures.TCO.show',
                           academic: @signature.orientation.academic.name) %>" />
    </div>
  <% end %>
</div>

<div>
  <%= render 'shared/signatures/component', signature: @signature %>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'), back_url, class: 'btn btn-secondary' %>
</div>

