<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= active_link_to(responsible_examination_boards_tcc_one_current_semester_path, class: 'nav-link') do %>
      <%= "#{t('views.tabs.tcc.one')} - #{Calendar.current_by_tcc_one.year_with_semester}" %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= active_link_to(responsible_examination_boards_tcc_two_current_semester_path, class: 'nav-link') do %>
      <%= "#{t('views.tabs.tcc.two')} - #{Calendar.current_by_tcc_two.year_with_semester}" %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= active_link_to(responsible_examination_boards_tcc_one_path,
                       class: 'nav-link',
                       active: ['responsible/examination_boards': :tcc_one]) do %>
      <%= t('views.tabs.tcc.one') %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= active_link_to(responsible_examination_boards_tcc_two_path,
                       class: 'nav-link',
                       active: ['responsible/examination_boards': :tcc_two]) do %>
      <%= t('views.tabs.tcc.two') %>
    <% end %>
  </li>
</ul>
