<% provide(:page_title, t('breadcrumbs.examination_boards.show')) %>
<% provide(:head_title, t('breadcrumbs.examination_boards.show')) %>

<div class="card">
  <div class="card-body">
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('orienatation') %>:
      </strong>
      <%= @examination_board.orientation.title %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('place') %>:
      </strong>
      <%= @examination_board.place %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('date') %>:
      </strong>
      <%= complete_date(@examination_board.date) %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('created_at') %>:
      </strong>
      <%= complete_date(@examination_board.created_at) %>
    </p>
    <p>
      <strong>
        <%= ExaminationBoard.human_attribute_name('updated_at') %>:
      </strong>
      <%= complete_date(@examination_board.updated_at) %>
    </p>
  </div>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'),
    responsible_examination_boards_path,
    class: 'btn btn-secondary' %>

  <%= link_to t('simple_form.buttons.edit'),
    edit_responsible_examination_board_path(@examination_board),
    class: 'btn btn-primary ml-auto' %>
</div>

