<div class="card p-3">
  <%= link_to redirect, class: "text-decoration-none" do %>
    <div class="d-flex align-items-center">
      <span class="stamp stamp-md bg-<%= background_color %> mr-3">
        <i class="fe fe-users"></i>
      </span>
      <div>
        <h4 class="m-0">
          <%= number %> <small><%= title %></small>
        </h4>
        <small class="text-muted">
          <%= label %>
        </small>
      </div>
    </div>
  <% end %>
</div>
