<div data-controller="charts--pie" 
     data-charts--pie-series-value="<%= series.to_json %>"
     data-charts--pie-options-value="<%= chart_options.to_json %>"
     data-charts--pie-links-value="<%= links.to_json %>"
     data-charts--pie-width-value="<%= width %>"
     data-charts--pie-height-value="<%= height %>"></div>
