<div data-controller="chart--pie-chart" 
     data-chart--pie-chart-series-value="<%= series.to_json %>"
     data-chart--pie-chart-options-value="<%= chart_options.to_json %>"
     data-chart--pie-chart-links-value="<%= links.to_json %>"
     data-chart--pie-chart-width-value="<%= width %>"
     data-chart--pie-chart-height-value="<%= height %>"></div>
