<% provide(:page_title, t("breadcrumbs.tcc.#{@calendar.tcc}.show")) %>
<% provide(:head_title, t("breadcrumbs.tcc.#{@calendar.tcc}.show")) %>

<div class="card">
  <div class="card-body">
    <p>
      <strong>
        <%= Activity.human_attribute_name('name') %>:
      </strong>
      <%= @activity.name %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('base_activity_type') %>:
      </strong>
      <%= @activity.base_activity_type.name %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('tcc') %>:
      </strong>
      <%= t("enums.tcc.#{@activity.tcc}") %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('judgment') %>:
      </strong>
      <%= t("helpers.boolean.#{@activity.judgment}") %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('deadline') %>:
      </strong>
      <%= @activity.deadline %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('created_at') %>:
      </strong>
      <%= complete_date(@activity.created_at) %>
    </p>
    <p>
      <strong>
        <%= Activity.human_attribute_name('updated_at') %>:
      </strong>
      <%= complete_date(@activity.updated_at) %>
    </p>

    <% if @activity.base_activity_type.send_document? %>
      <table class="table table-striped table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col"><%= Activity.human_attribute_name('academic') %></th>
            <th scope="col"><%= Activity.human_attribute_name('sent') %></th>
          </tr>
        </thead>
        <tbody>
            <% @activity.academic_responses.each do |academic| %>
              <tr>
                <td><%= academic.name %></td> 
                <td><a href=<%= professors_orientation_calendar_activity_path(@activity.calendar.orientation_by_academic(academic_id: academic.id),
                @activity.calendar,
                @activity) %>><%= t("helpers.boolean.#{academic.sent_academic_activity}") %></a></td> 
              </tr>
            <% end %>
            <tr>
              <td><strong><%= Activity.human_attribute_name('total') %></strong></td>
              <td><%= @activity.response_summary.count %> de <%= @activity.response_summary.total %> <%= Activity.human_attribute_name('sent') %>s</td>
            </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'), back_url: professors_calendar_activities_path(@calendar), class: 'btn btn-secondary' %>
  <%= yield(:edit_button) %>
</div>

