<tr class="examination-board-row">
  <td class="td-center examination-board-td">
    <%= long_date(examination_board.date).split(',').first %>, <%= l(examination_board.date, format: :time) %><br>
    <%= long_date(examination_board.date).split(',').last %><br>
    <%= examination_board.place %>
  </td>

  <td class="td-center">
     <a href="javascript:void(0);" class="showDetails" data-exam-id="<%= examination_board.id %>">
      <strong><%= ExaminationBoard.human_attribute_name('title') %>:</strong>
    </a>
    <%= examination_board.academic_activity&.title %><br>

    <strong><%= ExaminationBoard.human_attribute_name('academic') %>:</strong>
    <%= examination_board.orientation.academic.name %><span style="margin-right: 20px;"></span>

    <strong><%= ExaminationBoard.human_attribute_name('orientation') %>:</strong>
    <%= examination_board.orientation.advisor.name_with_scholarity %> <br>

    <strong><%= ExaminationBoard.human_attribute_name('orientation_supervisors') %>:</strong>
    <% examination_board.orientation.supervisors.each do |supervisor| %>
    <%= supervisor.name_with_scholarity %>

    <% end %>
  </td>
</tr>

<tr class="examination-board-row examination-details exam_<%= examination_board.id %>">
  <td  class="td-center">
    <strong><%= ExaminationBoard.human_attribute_name('evaluators') %></strong>
  </td>
  <td class="td-center">
    <strong><%= ExaminationBoard.human_attribute_name('utfpr_members') %>:</strong>
    <% examination_board.professors.each do |professor| %>
      <%= professor.name_with_scholarity %>
    <% end %><br>
    <strong><%= ExaminationBoard.human_attribute_name('external_members') %>:</strong>
    <% examination_board.external_members.each do |external_member| %>
    <%= external_member.name_with_scholarity %>
    <% end %>
  </td>
</tr>

<tr class="examination-board-row examination-details exam_<%= examination_board.id %>">
  <td class="td-center">
    <strong><%= ExaminationBoard.human_attribute_name('summary') %></strong>
  </td>
  <td class="td-center" colspan="4">
    <strong><%= examination_board.academic_activity&.summary %></strong>
  </td>
</tr>

<tr class="examination-board-row examination-details exam_<%= examination_board.id %>">
  <td class="td-center">
    <strong><%= ExaminationBoard.human_attribute_name('documents') %></strong>
    <% if examination_board.academic_activity %>
      <%= link_to(examination_board.academic_activity.pdf.url, target: :_blank, class: 'mx-2') do %>
        <%= AcademicActivity.human_attribute_name(examination_board.identifier) %>
      <% end %>
      <% if examination_board.academic_activity.complementary_files.present? %>
        <%= link_to(examination_board.academic_activity.complementary_files.url, target: :_blank) do %>
          <%= AcademicActivity.human_attribute_name('complementary_files') %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>

<script type="text/javascript">
  $(document).ready(function() {
    $(".examination-details").hide();

    $(".showDetails").click(function() {
      var examId = $(this).data('exam-id');
      console.log('Clicou no link para o exame com id: ' + examId);
      $(".examination-details").hide(); 
      $(".examination-details.exam_" + examId).toggle();
    });
  });
</script>