<h2 class="page-title mb-3"><%= orientations_title %></h2>

<h3>TCC 1</h3>

<div id="tcc_one">
  <%= render 'site/orientations/table', orientations: tcc_one_orientations %>
</div>

<h3>TCC 2</h3>

<div id="tcc_two">
  <%= render 'site/orientations/table', orientations: tcc_two_orientations %>
</div>

<h2 class="page-title mb-3"><%= supervisions_title %></h2>

<h3>TCC 1</h3>

<div id="tcc_one">
  <%= render 'site/orientations/table', orientations: tcc_one_supervisions %>
</div>

<h3>TCC 2</h3>

<div id="tcc_two">
  <%= render 'site/orientations/table', orientations: tcc_two_supervisions %>
</div>



