<div id="orientation_<%= orientation.id %>">
  <div>
    <a
      href="#summary_<%= orientation.id %>"
      data-bs-toggle="collapse"
      aria-expanded="false"
      class="d-block font-weight-bold"
    >
      <%= orientation.document_title %>
    </a>

    <div
      class="collapse mt-2"
      id="summary_<%= orientation.id %>"
    >
      <% if orientation.summary.present? %>
        <div class="card card-body site-table mb-2">
          <p class="text-justify">
            <%= orientation.summary %>
          </p>
        </div>
      <% end %>
    </div>

    <%= orientation.academic.name %> (acadêmico)<br>
    <%= orientation.advisor.name %> (orientador)<br>

    <% if orientation.supervisors.any? %>
      <%= orientation.supervisors.map(&:name).join(', ') %> (coorientadores)<br>
    <% end %>

    <% if orientation.approved_date.present? %>
      <%= l(orientation.approved_date, format: :long) %> (data de aprovação)<br>
    <% end %>

    <% documents = {
      'Proposta' => orientation.final_proposal&.pdf,
      'Projeto' => orientation.final_project&.pdf,
      'Monografia' => orientation.final_monograph&.pdf,
      'Arquivos Complementares' => orientation.final_monograph&.complementary_files
    }.compact %>

    <% documents.each do |type, doc| %>
      <% if doc.url.present? %>
        <%= link_to doc.url, target: "_blank", class: "btn btn-outline-primary btn-sm mt-2 mr-2" do %>
          <%= type %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <hr>
</div>
