<%= simple_form_for [:professors, @orientation] do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.association :academic,
          input_html: { data: 'selectize' },
          collection: Academic.all.order(:name),
          prompt: t('prompt.select.m', name: Orientation.human_attribute_name('academic')) %>
      </div>
      <div class="col-sm-6">
        <%= f.association :institution,
          input_html: { data: 'selectize' },
          label_method: :trade_name,
          collection: Institution.all.order(:trade_name),
          prompt: t('prompt.select.f', name: Orientation.human_attribute_name('institution')) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.association :calendar,
          label: false,
          selected: @orientation.calendar ? @orientation.calendar.id : Calendar.current_by_tcc_one.id,
          input_html: { class: 'd-none' } %>
      </div>
      <div class="col-sm-6">
        <%= f.association :advisor,
          label: false,
          selected: @orientation.advisor ? @orientation.advisor.id : current_professor.id,
          input_html: { class: 'd-none' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.association :professor_supervisors,
          input_html: { data: 'selectize' },
          collection: Professor.where.not(username: current_professor.username).order(:name),
          prompt: t('prompt.select.m', name: Orientation.human_attribute_name('professor_supervisors')) %>
      </div>
      <div class="col-sm-6">
        <%= f.association :external_member_supervisors,
          input_html: { data: 'selectize' },
          collection: ExternalMember.all.order(:name),
          prompt: t('prompt.select.m', name: Orientation.human_attribute_name('external_member_supervisors')) %>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'), back_url, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
