<tr>
  <td><%= orientation.academic.name %></td>
  <td><%= orientation.short_title %></td>
  <td><%= orientation.advisor.name %></td>
  <td><%= orientation.calendar.year_with_semester_and_tcc %></td>
  <td>
    <%= link_to(professors_orientation_path(orientation)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="Show"></i>
    <% end %>
    <%= link_to(edit_professors_orientation_path(orientation)) do %>
      <i class="fe fe-edit" data-toggle="tooltip" title="Editar"></i>
    <% end %>
    <%= link_to professors_orientation_path(orientation),
      method: :delete,
      data: { confirm: t('prompt.confirm') },
      class: 'destroy' do %>
      <i class="fe fe-trash" data-toggle="tooltip" title="Delete"></i>
    <% end %>
  </td>
</tr>
