<tr>
   <%= render('shared/orientations/tbody', orientation: orientation) do %>
      <td>
         <div class="dropdown">
            <%= link_to orientation.academic.name, external_members_supervision_path(orientation), 'data-toggle': 'dropdown' %>
            <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">

               <%= link_to(external_members_supervision_path(orientation), class: 'dropdown-item') do %>
                  <i class="fe fe-search"></i> Detalhes da orientação
               <% end %>

               <%= link_to(external_members_supervision_calendar_activities_path(orientation, orientation.current_calendar), class: 'dropdown-item') do %>
                  <i class="far fa-file-alt"></i> Visualizar atividades
               <% end %>

               <%= link_to(external_members_supervision_documents_path(orientation), class: 'dropdown-item') do %>
                  <i class="fe fe-file"></i> Visualizar documentos
               <% end %>
            </div>
         </div>
      </td>
   <% end %>
</tr>
