<tr>
  <td><%= external_member.name %></td>
  <td><%= external_member.email %></td>
  <td>
    <%= link_to external_member.personal_page, target: '_blank' do %>
      <%= icon('fas', 'external-link-alt', 'data-toggle' => 'tooltip', title: 'Página pessoal') %>
    <% end %>
  </td>
  <td><%= short_date(external_member.created_at) %></td>
  <td>
    <%= render 'shared/links',
      resource_link: responsible_external_member_path(external_member),
      edit_link: edit_responsible_external_member_path(external_member) %>
  </td>
</tr>
