<%= simple_form_for [:responsible, @external_member] do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :gender,
                as: :radio_button_tabler,
                collection: Academic.human_genders %>
    <%= f.input :working_area, input_html: { class: 'markdown-editor' } %>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      responsible_external_members_path,
      class: 'btn btn-secondary' %>

    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
