<% provide(:head_title, @page.menu_title) %>

<h1 class="page-title mb-5">
  <%= t('views.title.calendar.tcc.one', calendar: @calendar_tcc_one.year_with_semester) %>
</h1>

<div class="table-responsive-sm site-activities-table">
  <table class="table table-sm table-striped card-table table-vcenter">
    <thead>
      <tr>
        <th><%= Activity.human_attribute_name('name') %></th>
        <th><%= Activity.human_attribute_name('base_activity_type') %></th>
        <th><%= Activity.human_attribute_name('deadline') %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @activities_tcc_one.empty? %>
      </tr>
      <% @activities_tcc_one.each do |activity| %>
        <%= render('site/activities/activity', activity: activity) %>
      <% end %>
    </tbody>
  </table>
</div>

<h1 class="page-title mb-5">
  <%= t('views.title.calendar.tcc.one', calendar: @calendar_tcc_two.year_with_semester) %>
</h1>

<div class="table-responsive-sm site-activities-table">
  <table class="table table-sm card-table table-vcenter">
    <thead>
      <tr>
        <th><%= Activity.human_attribute_name('name') %></th>
        <th><%= Activity.human_attribute_name('base_activity_type') %></th>
        <th><%= Activity.human_attribute_name('deadline') %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @activities_tcc_two.empty? %>
      </tr>
      <% @activities_tcc_two.each do |activity| %>
        <%= render('site/activities/activity', activity: activity) %>
      <% end %>
    </tbody>
  </table>
</div>
