<% provide(:head_title, @page.menu_title) %>

<div class="examination-boards-site">
   <h2 class="mb-5 text-center">
      <%= t('site.pages.examination_boards.defense', calendar: Calendar&.current_by_tcc_one&.year_with_semester) %>
   </h2>

   <ul class="nav nav-tabs" id="tabs" role="tablist">
      <% tab_data = [
         { id: 'proposal',  label: 'Proposta',   class: 'active', selected: 'true', examination_boards: @proposal_examination_boards },
         { id: 'project',   label: 'Projeto',    class: '',       selected: 'true', examination_boards: @project_examination_boards },
         { id: 'monograph', label: 'Monografia', class: '',       selected: 'true', examination_boards: @monograph_examination_boards }
      ] %>

      <% tab_data.each do |tab| %>
         <li class="nav-item">
            <a class="nav-link <%= tab[:class] %>"
               id="<%= tab[:id] %>-tab"
               data-toggle="tab"
               href="#<%= tab[:id] %>"
               role="tab"
               aria-controls="<%= tab[:id] %>"
               aria-selected="<%= tab[:selected] %>">

               <%= tab[:label] %>
            </a>
         </li>
      <% end %>
   </ul>

   <div class="tab-content" id="tabContent">
      <% tab_data.each do |tab| %>
         <div class="tab-pane fade pt-3 show <%= tab[:class] %>"
              id="<%= tab[:id] %>"
              role="tabpanel"
              aria-labelledby="<%= tab[:id] %>-tab">

            <%= render('site/examination_boards/list', examination_boards: tab[:examination_boards]) %>
         </div>
      <% end %>
   </div>
</div>
