<tr>
   <td class="text-left">
      <div class="dropdown">
         <%= link_to orientation.academic.name, tcc_one_professors_calendar_orientation_path(orientation), class: 'academic-name-link', 'data-toggle': 'dropdown' %>
         <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">

            <%= link_to(tcc_one_professors_calendar_orientation_path(@calendar, orientation), class: 'dropdown-item') do %>
               <i class="fe fe-search"></i> Detalhes
            <% end %>

            <%= link_to(tcc_one_professors_calendar_orientation_activities_path(@calendar, orientation), class: 'dropdown-item') do %>
               <i class="far fa-file-alt"></i> Visualizar atividades
            <% end %>

            <%= link_to(tcc_one_professors_calendar_orientation_documents_path(@calendar, orientation), class: 'dropdown-item') do %>
               <i class="fe fe-file"></i> Visualizar documentos
            <% end %>

            <%= render('shared/orientations/tbody', orientation: orientation) %>
         </div>
      </div>
   </td>
</tr>
