<%= simple_form_for [:responsible, @professor] do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :username %>
    <%= f.input :lattes %>

    <%= f.association :professor_title,
      prompt: t('prompt.select.m', name: 'título') %>
    <%= f.association :professor_type,
      prompt: t('prompt.select.m', name: 'tipo') %>
    <%= f.association :professor_role,
      prompt: t('prompt.select.m', name: 'papel') %>

    <%= f.input :gender,
                as: :radio_buttons,
                collection: Professor.human_genders,
                item_wrapper_class: 'custom-control custom-radio custom-control-inline' %>

    <%= f.input :is_active, as: :checkbox_tabler %>
    <%= f.input :available_advisor, as: :checkbox_tabler %>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      responsible_professors_path,
      class: 'btn btn-secondary' %>

    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
