<%= simple_form_for [:responsible, @professor] do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name %>
      </div>
      <div class="col-sm-6">
        <%= f.input :email %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :username %>
      </div>
      <div class="col-sm-6">
        <%= f.input :lattes %>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <%= f.association :scholarity,
          input_html: { data: 'selectize' },
          prompt: t('prompt.select.f', name: Professor.human_attribute_name('scholarity')) %>
      </div>
      <div class="col-sm-6">
        <%= f.association :professor_type,
          input_html: { data: 'selectize' },
          prompt: t('prompt.select.m', name: 'título') %>
      </div>
   </div>

    <%= f.association :roles,
      prompt: t('prompt.select.m', name: Professor.human_attribute_name('role')) %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :gender,
                    as: :radio_button_tabler,
                    collection: Professor.human_genders,
                    item_wrapper_class: 'custom-control custom-radio custom-control-inline' %>
      </div>
      <div class="col-sm-6">
        <%= f.input :is_active, as: :checkbox_tabler %>
        <%= f.input :available_advisor, as: :checkbox_tabler %>
      </div>
    </div>

    <%= f.input :working_area, input_html: { class: 'markdown-editor' } %>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      responsible_professors_path,
      class: 'btn btn-secondary' %>

    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
