<tr>
  <td><%= professor.name %></td>
  <td><%= professor.email %></td>
  <td>
    <%= link_to professor.lattes, target: '_blank' do %>
      <%= icon('fas', 'external-link-alt', 'data-toggle' => 'tooltip', title: 'lattes') %>
    <% end %>
  </td>
  <td><%= short_date(professor.created_at) %></td>
  <td>
    <%= render 'shared/links',
      resource_link: responsible_professor_path(professor),
      edit_link: edit_responsible_professor_path(professor) %>
  </td>
</tr>
