<p><%= t('devise.mailers.hello') %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.mailers.email_change.notify') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t('devise.mailers.email_changed.notify') %> <%= @resource.email %>.</p>
<% end %>
