<tr>
  <td><%= calendar.year %></td>
  <td><%= t("enums.semester.#{calendar.semester}") %></td>
  <td><%= t("enums.tcc.#{calendar.tcc}") %></td>
  <td><%= short_date(calendar.created_at) %></td>
  <td>
    <%= link_to(professors_calendar_activities_path(calendar)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="Visualizar"></i>
    <% end %>
    <% if calendar.orientations.any? %>
      <%= link_to(professors_calendar_orientations_path(calendar)) do %>
        <i class="fe fe-folder-plus" data-toggle="tooltip" title="Visualizar orientações"></i>
      <% end %>
    <% end %>
  </td>
</tr>
