<%= simple_form_for [:responsible, @orientation] do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.association :calendar,
          input_html: { data: 'selectize' },
          collection: Calendar.select_for_orientation,
          label_method: :second,
          value_method: :first,
          prompt: t('prompt.select.m', name: Orientation.human_attribute_name('calendar')) %>
      </div>
      <div class="col-sm-6">
        <%= f.association :academic,
          input_html: { data: 'selectize' },
          collection: Academic.all.order(:name),
          prompt: t('prompt.select.m', name: Orientation.human_attribute_name('academic')) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.association :advisor,
          input_html: { data: 'selectize' },
          collection: Professor.all.order(:name),
          prompt: t('prompt.select.m', name: Orientation.human_attribute_name('advisor')) %>
      </div>
      <div class="col-sm-6">
        <%= f.association :institution,
          input_html: { data: 'selectize' },
          collection: Institution.all.order(:trade_name),
          label_method: :trade_name,
          prompt: t('prompt.select.f', name: Orientation.human_attribute_name('institution')) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.association :professor_supervisors,
          input_html: { data: 'selectize' },
          collection: Professor.all.order(:name),
          prompt: t('prompt.select.multiple', name: Orientation.human_attribute_name('professor_supervisors')) %>
      </div>
      <div class="col-sm-6">
        <%= f.association :external_member_supervisors,
          input_html: { data: 'selectize' },
          collection: ExternalMember.all.order(:name),
          prompt: t('prompt.select.multiple', name: Orientation.human_attribute_name('external_member_supervisors')) %>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to t('simple_form.buttons.back'),
      responsible_orientations_path,
      class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
