<% provide(:page_title, t('breadcrumbs.orientations.show')) %>
<% provide(:head_title, t('breadcrumbs.orientations.show')) %>

<div class="card card-profile">
  <div class="card-body text-center">
    <p>
      <strong>
        <%= Orientation.human_attribute_name('title') %>:
      </strong>
      <%= @orientation.title %>
    </p>
    <p>
      <strong>
        <%= Orientation.human_attribute_name('calendar') %>:
      </strong>
      <%= @orientation.calendar.year_with_semester_and_tcc %>
    </p>
    <p>
      <strong>
        <%= Orientation.human_attribute_name('academic') %>:
      </strong>
      <%= @orientation.academic.name %>
    </p>
    <p>
      <strong>
        <%= Orientation.human_attribute_name('advisor') %>:
      </strong>
      <%= @orientation.advisor.name %>
    </p>
    <% if @orientation.institution %>
      <p>
        <strong>
          <%= Orientation.human_attribute_name('institution') %>:
        </strong>
        <%= @orientation.institution.trade_name %>
      </p>
    <% end %>
    <p>
      <strong>
        <%= Orientation.human_attribute_name('created_at') %>:
      </strong>
      <%= complete_date(@orientation.created_at) %>
    </p>
    <p>
      <strong>
        <%= Orientation.human_attribute_name('updated_at') %>:
      </strong>
      <%= complete_date(@orientation.updated_at) %>
    </p>
  </div>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'),
    responsible_orientations_path,
    class: 'btn btn-secondary' %>

  <%= link_to t('simple_form.buttons.edit'),
    edit_responsible_orientation_path(@orientation),
    class: 'btn btn-primary ml-auto' %>
</div>

