<div class="text-right mt-3">
  <%= page_entries_info @examination_boards,
    entry_name: t('entry_names.examination_boards', count: @examination_boards.size) %>
</div>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap">
    <thead>
      <tr>
        <th><%= ExaminationBoard.human_attribute_name('status') %></th>
        <th><%= ExaminationBoard.human_attribute_name('academic') %></th>
        <th><%= ExaminationBoard.human_attribute_name('place') %></th>
        <th><%= ExaminationBoard.human_attribute_name('date') %></th>
        <th><%= ExaminationBoard.human_attribute_name('advisor') %></th>
        <th><%= ExaminationBoard.human_attribute_name('evaluators') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @examination_boards.empty? %>
      </tr>
      <% @examination_boards.each do |examination_board| %>
        <%= render "#{resource}/supervision_examination_boards/examination_board",
          examination_board: examination_board %>
      <% end %>
    </tbody>
  </table>
</div>

