<tr>
  <td>
    <i class="<%= "#{page.fa_icon} mr-2" %>"></i>
    <%= page.menu_title %>
  </td>
  <td><%= t("helpers.boolean.#{page.publish}") %></td>
  <td><%= short_date(page.created_at) %></td>
  <td><%= short_date(page.updated_at) %></td>
  <td>
    <%= render 'shared/links',
      resource_link: responsible_page_path(page),
      edit_link: edit_responsible_page_path(page) %>
  </td>
</tr>
