<% provide(:page_title, t('breadcrumbs.base_activities.index')) %>
<% provide(:head_title, t('breadcrumbs.base_activities.index')) %>

<div class="row">
  <div class="col-8">
    <search url="<%= @search_url %>" search-term="<%= params[:term] %>" />
  </div>
  <div class="col-4">
    <%= link_to(new_responsible_base_activity_path, class: 'btn btn-outline-primary d-block') do %>
      <i class="fe fe-plus"></i>
      <%= t('breadcrumbs.base_activities.new') %>
    <% end %>
  </div>
</div>

<%= render('tabs') %>

<div class="table-striped mt-3 table-responsive w-100">
  <table class="table card-table table-vcenter text-nowrap">
    <thead>
      <tr>
        <th><%= BaseActivity.human_attribute_name('name') %></th>
        <th><%= BaseActivity.human_attribute_name('base_activity_type') %></th>
        <th><%= BaseActivity.human_attribute_name('tcc') %></th>
        <th><%= BaseActivity.human_attribute_name('created_at') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= render('shared/no_results') if @base_activities.empty? %>
      </tr>
      <%= render @base_activities %>
    </tbody>
  </table>
</div>
