<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<a class="header-brand" href="#">
				<%= image_tag("tsi.png", alt: "logo-tsi", class: 'header-brand-img') %>
				UTFPR - TCC
			</a>

			<div class="d-flex order-lg-2 ml-auto">
				<div class="dropdown">
					<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
						<span class="ml-2 d-none d-lg-block">
							<span class="text-default">
								<%= current_user.email %>
							</span>
							<small class="text-muted d-block mt-1">
								Administrator
							</small>
						</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
						<%= link_to '#', class: 'dropdown-item' do %>
							<%= icon('fas', 'user') %> <%= t('sessions.profile') %>
						<% end %>

						<%= link_to(destroy_user_session_path, method: :delete, class: "dropdown-item") do %>
							<%= icon('fas', 'sign-out-alt') %> <%= t('sessions.sign_out') %>
						<% end %>
					</div>

				</div>
			</div>

			<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
				<span class="header-toggler-icon"></span>
			</a>
		</div>
	</div>
</div>

