<div class="col-lg-3 mb-4">
	<div class="list-group list-group-transparent mb-0">
		<%= link_to '#', class: 'list-group-item list-group-item-action active' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'home') %>
			</span>
			<%= t('home_page') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'user-graduate') %>
			</span>
			<%= t('academics') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'user') %>
			</span>
			<%= t('professors') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'calendar') %>
			</span>
			<%= t('calendars') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('fas', 'file-signature') %>
			</span>
			<%= t('meetings') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'clipboard') %>
			</span>
			<%= t('examination_boards') %>
		<% end %>

		<%= link_to '#', class: 'list-group-item list-group-item-action' do %>
			<span class="icon mr-3">
				<%= icon('far', 'file') %>
			</span>
			<%= t('pages') %>
		<% end %>
	</div>
</div>
