<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>
      <%= full_title(yield(:head_title)) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'public/application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'print', media: 'print' %>

    <%= favicon_link_tag %>
    <%= javascript_importmap_tags %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
    <div id="app" class="page">
      <div class="page-main">
        <div class="container">
          <%= render 'shared/alert_messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
