<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= full_title(yield(:head_title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <div class="page-main">

	<%= render 'shared/flash_messages'%>
	<%= render 'layouts/header' %>
	<%= render 'layouts/navbar' %>

	<div class="my-3 my-md-5">
	  <div class="container">
	    <div class="row">

	      <%= render 'layouts/sidebar' %>

	      <div class="col-lg-9">
		<div class="card">
		  <%= yield %>
		</div>
	      </div>

	    </div><!-- div.row !-->
	  </div><!-- div.container !-->
	</div><!-- div.my-3 !-->

      </div><!-- div.page-main !-->

      <%= render 'layouts/footer' %>

    </div><!-- div.page !-->
  </body>
</html>
